{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "extensions": [".ts", ".tsx", ".jsx", ".js", ".json"],
                "alias": {
                    "screens": "./src/screens",
                    "components": "./src/components",
                    "assets": "./src/assets"
                }
            }
        ],
        "babel-plugin-transform-typescript-metadata",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ],
    "env": {
        "production": {
            "plugins": ["react-native-paper/babel"]
        }
    }
}
